<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<turbo-frame id="project_status">
<h2>Status: <%= @project.status %></h2>
</turbo-frame>

<%= form_with model: @project, url: project_path(@project), method: :patch do |f| %>
  <%= f.label :status %>
  <%= f.select :status, options_for_select([['Pending', 'pending'], ['Active', 'active'], ['Completed', 'completed']], @project.status) %>
  <%= f.submit 'Update Status' %>
<% end %>


<h2>Comments</h2>

<turbo-frame id="comments">
  <%= render @project.comments %>
</turbo-frame>

<% if user_signed_in? %>
  <%= form_with(model: [ @project, @comment ]) do |form| %>
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit "Add Comment" %>
    </div>
<% end %>
<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> to comment.</p>
<% end %>
